# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

.idea
.vscode

# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/

# misc
.DS_Store
*.pem
